* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: 'Mulish', sans-serif;
  color: #fff; }

.mobile-app {
  color: #1e1e1e; }

.body-bg {
  background-color: #000;
  background: url(../img/bg.png);
  backdrop-filter: blur(3px);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out; }

p {
  margin: 0; }

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .form form {
    border: 3px solid #ff7833;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0; }
  .form__logo a {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px; }
    .form__logo a::after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 120%;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background-color: #ff7833; }
    .form__logo a:hover {
      opacity: 0.8; }
    .form__logo a img {
      display: block;
      width: 100%; }
  .form__text {
    margin-bottom: 30px; }
    .form__text h1 {
      font-size: 30px;
      font-weight: 900;
      text-align: center; }
    .form__text p {
      font-size: 20px;
      font-weight: 500;
      text-align: center; }
  .form__input {
    margin-bottom: 30px; }
    .form__input input {
      display: block;
      max-width: 600px;
      margin: 0 auto;
      width: 100%;
      background: transparent;
      border: 2px solid #ff7833;
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      padding: 10px 15px; }
      .form__input input::placeholder {
        font-size: 18px;
        color: #a09f9f; }
      .form__input input:nth-child(1) {
        margin-bottom: 20px; }
  .form__submit {
    margin-bottom: 30px; }
    .form__submit button {
      font-size: 20px;
      background-color: #ff7833;
      padding: 7px 30px;
      border-radius: 3px;
      color: #fff; }
      .form__submit button:hover {
        opacity: 0.8; }
  .form__info {
    font-size: 18px; }

.contact__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  border-right: 3px solid #ff7833;
  border-left: 3px solid #ff7833; }
  .contact__content .logo a {
    display: block;
    max-width: 350px;
    width: 100%;
    margin: 0 auto 50px auto; }
    .contact__content .logo a img {
      display: block;
      width: 100%; }
  .contact__content .banner {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px; }
    .contact__content .banner span {
      font-weight: 900;
      color: #ff7833;
      display: block; }
  .contact__content .info a {
    border: 1px solid #ff7833;
    border-radius: 10px; }
    .contact__content .info a .icon {
      width: 60px;
      height: 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative; }
      .contact__content .info a .icon::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 30px;
        background-color: #ff7833;
        right: 0; }
      .contact__content .info a .icon i {
        font-size: 30px;
        color: #ff7833; }
    .contact__content .info a .text {
      padding: 3px 10px;
      width: calc(100% - 50px);
      font-size: 20px;
      font-weight: 400; }
  .contact__content .info .number {
    font-size: 20px;
    display: block;
    padding: 0px 20px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contact__content .info .call-you, .contact__content .info .live-support {
    display: flex;
    align-items: center;
    border: none; }
    .contact__content .info .call-you i, .contact__content .info .live-support i {
      font-size: 30px;
      color: #ff7833;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: 1px solid #ff7833;
      margin-right: 15px; }
    .contact__content .info .call-you span, .contact__content .info .live-support span {
      font-size: 20px; }
  .contact__content .info .call-you {
    justify-content: flex-end; }
  .contact__content .footer-logo a {
    display: block;
    max-width: 150px;
    margin: 0 auto; }
    .contact__content .footer-logo a img {
      display: block;
      width: 100%; }

.mobile-app header {
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 0; }
  .mobile-app header nav a {
    display: block;
    max-width: 250px;
    width: 100%; }
    .mobile-app header nav a img {
      display: block;
      width: 100%; }
.mobile-app main {
  margin-top: 150px; }
  .mobile-app main .mobileApp {
    margin-bottom: 100px; }
    .mobile-app main .mobileApp__text .info-title {
      font-size: 14px;
      font-weight: 500; }
    .mobile-app main .mobileApp__text .title {
      font-weight: 900; }
    .mobile-app main .mobileApp__text p {
      font-size: 20px;
      font-weight: 500; }
    .mobile-app main .mobileApp__img img {
      display: block;
      width: 100%; }
  .mobile-app main .mobileLoading {
    background-color: #ff7833;
    padding: 50px 0; }
    .mobile-app main .mobileLoading__title {
      margin-bottom: 50px; }
      .mobile-app main .mobileLoading__title h2 {
        font-weight: 900;
        color: #fff; }
      .mobile-app main .mobileLoading__title p {
        font-size: 20px;
        color: #fff;
        font-weight: 500; }
    .mobile-app main .mobileLoading .buttons a {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 10px;
      border: 2px solid #fff; }
      .mobile-app main .mobileLoading .buttons a i {
        font-size: 35px;
        margin-right: 10px; }
      .mobile-app main .mobileLoading .buttons a:hover {
        background: #fff;
        color: #000; }
.mobile-app .howtoGet {
  padding: 100px 0; }
  .mobile-app .howtoGet__title {
    font-weight: 600;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ff7833;
    display: inline-block; }
  .mobile-app .howtoGet__subTitle {
    padding: 5px 0;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative; }
    .mobile-app .howtoGet__subTitle::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 2px;
      background: #ff7833;
      top: 100%;
      left: 0; }
  .mobile-app .howtoGet__img {
    margin-bottom: 20px; }
    .mobile-app .howtoGet__img img {
      display: block;
      width: 100%;
      border-radius: 25px;
      border: 5px solid #1e1e1e; }
      @media (max-width: 1199px) {
        .mobile-app .howtoGet__img img {
          max-width: 250px;
          margin: 0 auto; } }
  .mobile-app .howtoGet__info {
    font-size: 18px;
    font-weight: 600;
    text-align: center; }
    .mobile-app .howtoGet__info span {
      color: #ff7833;
      font-weight: 900;
      text-decoration: underline; }
.mobile-app footer .copyright {
  padding: 20px 0;
  background: #e2e2e2; }

/*# sourceMappingURL=main.css.map */
